---

---
<nav class="absolute top-0 left-0 w-screen z-50 flex flex-col">
    <div class="text-white bg-gradient-to-b from-black to-transparent p-4">
        <div class="font-lg font-bold">Sayari</div>
        <div class="font-xs">Consultora Contable</div>
    </div>
</nav>